# Ignore paths that contain user-generated content.
NLP477/NLP477/obj/*
NLP477/NLP477/bin/NLP477.*
.idea
.iml
.project
NLP477/NLP477.v12.suo
NLP477/NLP477.Tests/obj/
NLP477/TestResults/
NLP477/NLP477.Tests/bin/Debug/
*.pdb
MyIgnore/
NLP477/NLP.DTO/bin/Debug/
NLP477/NLP.DTO/obj/Debug/
NLP477/NLP.Domain/bin/Debug/
NLP477/NLP.Domain/obj/
NLP477/NLP.Infrastructure/bin/Debug/
NLP477/NLP.Infrastructure/obj/
NLP477/NLP.Processor/bin/Debug/
NLP477/NLP.Infrastructure/obj/
NLP477/NLP.Processor/obj/
NLP477/NLP.Services/bin/
NLP477/NLP.Services/obj/
NLP477/NLP.Repository/bin/
NLP477/NLP.Repository/obj/Debug/
NLP477/packages/
