<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ParkJsonUrl" value="http://nationalparks2.aws.rroom.net/layouts/NSWParksVisitor/Api/ParksJson.ashx"/>
    <add key="RouteJsonUrl" value="http://nationalparks2.aws.rroom.net/layouts/NSWParksVisitor/Api/RoutesJson.ashx"/>
    <add key="AccomodationJsonUrl" value="http://nationalparks2.aws.rroom.net/layouts/NSWParksVisitor/Api/AccommodationJson.ashx"/>
  </appSettings>
</configuration>